In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
df=pd.read_csv('icu_without_sampling.csv')

In [41]:
df

,Unnamed: 0,Patient ID,Patient age quantile,sars_cov2,regular_ward,semi_icu,icu,Hematocrit,Hemoglobin,Platelets,...,Adenovirus,Parainfluenza 4,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,Alanine transaminase,Aspartate transaminase
0,1,126e9dd13932f68,17,0,0,0,0,0.236515,-0.022340,-0.517413,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,8,8bb9d64f0215244,1,0,0,1,0,-1.571682,-0.774212,1.429667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.586821,-0.162200
2,15,6c9d3323975b082,9,0,0,0,0,-0.747693,-0.586244,-0.429480,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.559257,-0.549287
3,30,ebdd7c67fcb21b4,9,0,1,0,0,-0.679027,-0.711556,0.952319,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,50,11e4956b770f080,17,0,0,0,0,1.014726,0.666876,-0.203368,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.366304,-0.510579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,5585,0eec03a4743c4dd,18,1,0,0,0,1.197836,1.356092,-1.911774,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.433072,0.418431
250,5602,c5b44ff9c7782fd,19,0,0,0,0,0.190738,0.165628,-0.102873,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.930663,7.231172
251,5614,88cce1444e16f9c,19,0,0,0,0,-0.289922,-0.523588,0.663397,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
252,5615,2733fac0d3f7138,15,0,0,0,0,0.717175,1.105468,-0.492289,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.874106,1.386150
253,5618,acd761fe16b5d0f,17,0,0,0,0,-3.242548,-2.779203,-1.773594,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.504127,-0.665414

In [42]:
df=df.drop(columns='Unnamed: 0',axis=1)

In [43]:
df.shape

(254, 47)

In [44]:
def merge_wards():
    ward=[]
    for i in range(0,254):
        if(df.iloc[i,3]==1):
            ward.append(1)   # regular ward
        elif(df.iloc[i,4]==1):
            ward.append(2)   # semi-icu
        elif(df.iloc[i,5]==1):
            ward.append(3)   # icu
        else:
            ward.append(0)   # if not admitted to any of the wards
    return ward

In [45]:
df['Ward']=merge_wards()

In [46]:
df.head()

,Patient ID,Patient age quantile,sars_cov2,regular_ward,semi_icu,icu,Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Parainfluenza 4,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,Alanine transaminase,Aspartate transaminase,Ward
0,126e9dd13932f68,17,0,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
1,8bb9d64f0215244,1,0,0,1,0,-1.571682,-0.774212,1.429667,-1.672222,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.586821,-0.162200,2
2,6c9d3323975b082,9,0,0,0,0,-0.747693,-0.586244,-0.429480,-0.213711,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.559257,-0.549287,0
3,ebdd7c67fcb21b4,9,0,1,0,0,-0.679027,-0.711556,0.952319,-0.886869,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1
4,11e4956b770f080,17,0,0,0,0,1.014726,0.666876,-0.203368,0.459449,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.366304,-0.510579,0

In [48]:
df['Ward'].value_counts()

0    168
1     39
2     30
3     17
Name: Ward, dtype: int64

In [67]:
df.to_csv('icu_merged.csv')  # Added an extra column 'WARD'

### Sampling all classes to meet 64 samples each (that is the mean of total number of samples from each class)

### Up sampling Classes 1, 2 and 3

In [51]:
df_one=df[df['Ward']==1]
df_two=df[df['Ward']==2]
df_three=df[df['Ward']==3]

In [52]:
from sklearn.utils import resample
df_one_upsampled= resample(df_one,replace=True,n_samples=64,random_state=123)  # With replacement

df_two_upsampled= resample(df_two,replace=True,n_samples=64,random_state=123)  # With replacement

df_three_upsampled= resample(df_three,replace=True,n_samples=64,random_state=123)  # With replacement

In [53]:
df_temp=pd.concat([df_one_upsampled,df_two_upsampled])
df_upsampled=pd.concat([df_temp,df_three_upsampled])

### Down Sampling Class 0

In [56]:
df_zero=df[df['Ward']==0]

df_downsampled= resample(df_zero,replace=False,n_samples=64,random_state=123)  # Without Replacement

### Combining the results of both sampling

In [57]:
df_sampled = pd.concat([df_downsampled, df_upsampled])

In [58]:
df_sampled['Ward'].value_counts()

3    64
2    64
1    64
0    64
Name: Ward, dtype: int64

In [59]:
icu_df=df_sampled.copy()

In [60]:
icu_df

,Patient ID,Patient age quantile,sars_cov2,regular_ward,semi_icu,icu,Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Parainfluenza 4,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,Alanine transaminase,Aspartate transaminase,Ward
77,e6f46ef47258101,4,0,0,0,0,-0.244145,0.040316,0.248857,0.235063,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
103,0423388755e0be3,6,0,0,0,0,0.236515,0.353596,-0.442042,-0.999063,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.322813,0.108761,0
187,2e5bc24239b507d,9,0,0,0,0,-0.244145,-0.962180,0.814139,1.244801,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.476563,-0.510579,0
65,8308f61e1d114b6,4,0,0,0,0,0.694287,0.729532,-0.140559,-1.447836,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
73,13cbebaf8c7cf6a,11,0,0,0,0,-0.198368,-0.335620,-0.542537,1.693575,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.366304,-0.471870,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,2e82de79489e0b8,0,0,0,0,1,-0.885025,-1.087492,-0.793773,-0.662483,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.393869,0.766810,3
233,0edc1a366792b62,0,0,0,0,1,-2.418559,-2.152643,0.952319,-1.672222,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.563223,2.508704,3
174,6a8d40ea05031e8,18,0,0,0,1,-2.830554,-2.716547,-0.241053,1.244801,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.535659,0.844228,3
174,6a8d40ea05031e8,18,0,0,0,1,-2.830554,-2.716547,-0.241053,1.244801,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.535659,0.844228,3
220,f8484cba3fae34f,0,0,0,0,1,-0.289922,-0.335620,3.376748,-1.223449,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.393869,0.263596,3

### -------------------------------------------------------------------------------

In [61]:
X=icu_df.drop(columns=['semi_icu','regular_ward','icu','Patient ID'])
y=icu_df['Ward']

In [62]:
X.isnull().sum()

Patient age quantile                                  0
sars_cov2                                             0
Hematocrit                                            0
Hemoglobin                                            0
Platelets                                             0
Mean platelet volume                                  1
Red blood Cells                                       0
Lymphocytes                                           0
Mean corpuscular hemoglobin concentration (MCHC)      0
Leukocytes                                            0
Basophils                                             0
MCH                                                   0
Eosinophils                                           0
MCV                                                   0
Monocytes                                             0
RBC_DW                                                0
Serum Glucose                                       113
Neutrophils                                          55
Urea                                                  2
CRP                                                  22
Creatinine                                            0
Potassium                                             0
Sodium                                                0
Strepto A                                           228
Respiratory Syncytial Virus                           0
Influenza A                                           0
Influenza B                                           0
Parainfluenza 1                                       0
CoronavirusNL63                                       0
Rhinovirus/Enterovirus                                0
Coronavirus HKU1                                      0
Parainfluenza 3                                       0
Chlamydophila pneumoniae                              0
Adenovirus                                            0
Parainfluenza 4                                       0
Coronavirus229E                                       0
CoronavirusOC43                                       0
Inf A H1N1 2009                                       0
Bordetella pertussis                                  0
Metapneumovirus                                       0
Parainfluenza 2                                       0
Alanine transaminase                                 97
Aspartate transaminase                               97
Ward                                                  0
dtype: int64

In [63]:
X.replace(np.nan,-25,inplace=True)

### Classification

In [66]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=9)

from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=4,random_state=10)
model.fit(X_train,y_train)

predictions=model.predict(X_test)

print('----------------Random Forest Classifier----------------------')
print('Training accuracy: ',model.score(X_train,y_train))
print('Testing accuracy: ', model.score(X_test,y_test))


from sklearn import metrics
print('\n\nClassification Report')
print(metrics.classification_report(y_test,predictions))

----------------Random Forest Classifier----------------------
Training accuracy:  0.994413407821229
Testing accuracy:  0.961038961038961


Classification Report
              precision    recall  f1-score   support

           0       1.00      0.92      0.96        24
           1       0.89      0.94      0.92        18
           2       0.94      1.00      0.97        17
           3       1.00      1.00      1.00        18

    accuracy                           0.96        77
   macro avg       0.96      0.97      0.96        77
weighted avg       0.96      0.96      0.96        77